<% layout('layout', { title: 'Documentation' }) %>

<section>
  <h2>Documentation de l’API Russell Marina</h2>
  <p>Endpoints principaux :</p>
  <ul>
    <li>GET /catways</li>
    <li>GET /catways/:id</li>
    <li>POST /catways</li>
    <li>GET /catways/:id/reservations</li>
    <li>POST /catways/:id/reservations</li>
    <li>GET /users</li>
    <li>POST /login</li>
  </ul>
</section>