
<section class="home">
  <h2>Bienvenue au Port de Plaisance de Russell</h2>
  <p>Application de gestion privée des catways et réservations.</p>

  <form action="/login" method="POST" class="login-form">
    <label>Email :</label>
    <input type="email" name="email" required />

    <label>Mot de passe :</label>
    <input type="password" name="password" required minlength="6" />

    <button type="submit">Se connecter</button>
  </form>

  <p><a href="/docs">→ Consulter la documentation API</a></p>
</section>